<div id= "page_wrapper">
<div id= "profile_image">
<%= image_tag "seneng" %>
</div>

<div id= "content">
 <h1>Hey, I am Seneng</h1>
 <p>I am Indonesian who currently living in Nepal.</p>
 <p>In Indonesian language, Seneng means 'happy' and in my experiences it was took some many years for me to understand what is happiness!</p>